# Configuración de Twilio
TWILIO_SID=your_twilio_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number_here
TO_PHONE_NUMBER=recipient_phone_number_here

# URL de la cámara IP (modifica con tus credenciales y dirección)
CAMARA_URL=
# Obtener la dirección IP del dominio
DOMINIO=